src/test/resources/xml/any.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://www.jboss.org/test/xml/any"
   xmlns="http://www.jboss.org/test/xml/any"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   version="1.0">

   <xsd:complexType name="container">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:string"/>
         <xsd:element name="any-content" type="xsd:anyType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="container" type="container"/>

</xsd:schema>
