core/trunk/src/test/resources/org/jboss/test/xb/validator/test/UnboundedChoiceAsUnorderedSequenceUnitTestCase.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema
   targetNamespace="urn:jboss:xb:test"
   xmlns="urn:jboss:xb:test"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="root">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element name="a" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="b" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
