core/trunk/src/test/resources/org/jboss/test/xb/validator/test/ValidatingResolverUnitTestCase.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema
   targetNamespace="urn:jboss:xb:test"
   xmlns="urn:jboss:xb:test"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="e1" type="xsd:string"/>
        <xsd:element name="e2" type="xsd:string"/>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
