2.0.1.CR1/src/test/resources/org/jboss/test/xml/choiceresolution/test/FooBarSequenceOrBarUnitTestCase.xsd

<?xml version = "1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="file:///tmp/test.xsd"
            xmlns="file:///tmp/test.xsd">

<xsd:element name="message">
  <xsd:complexType>
  <xsd:choice>
    <xsd:sequence>
       <xsd:element name="foo" type="xsd:string"/>
       <xsd:element name="bar" type="xsd:string"/>
    </xsd:sequence>
    <xsd:element name="bar" type="xsd:string"/>
  </xsd:choice>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
